<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Spring Authorization Server sample</title>
    <link href="/assets/css/signin.css" rel="stylesheet" th:href="@{/assets/css/signin.css}"/>
</head>
<body>
<form class="form-signin" method="post" th:action="@{/login}">
    <div class="alert alert-danger" role="alert" th:if="${param.error}">
        Invalid username or password.
    </div>
    <div class="alert alert-success" role="alert" th:if="${param.logout}">
        You have been logged out.
    </div>

    <h1>Please sign in</h1>

    <div class="form-group">
        <label for="username">Username</label>
        <input autofocus id="username" name="username" required type="text">
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input id="password" name="password" required type="password">
    </div>

    <button class="btn btn-primary" type="submit">Sign in</button>

    <a class="btn btn-social" href="/oauth2/authorization/google" role="link">
        <img alt="Sign in with Google" src="/assets/img/google.png" th:src="@{/assets/img/google.png}" width="20">
        Sign in with Google
    </a>

    <a class="btn btn-social" href="/oauth2/authorization/github" role="link">
        <img alt="Sign in with Github" src="/assets/img/github.png" th:src="@{/assets/img/github.png}" width="24">
        Sign in with Github
    </a>
</form>
</body>
</html>
